<!--formulario de cadastro HTML-->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <form action="/add" method="POST">
        <p>Nome: </p>
        <input type="text" name="nome" placeholder="nome">
        <p>email: </p>
        <input type="email" name="email" placeholder="email">
        <p>senha: </p>
        <input type="password" name="senha" placeholder="senha">
        <p><p>
        <button type="submit" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Cadastrar-se</button>
    </form>
</header>
